@import "../../includes/helpers";

$avenir-font-name: "AvenirNext";
$global-base-font: $avenir-font-name + "-Regular", Arial, sans-serif;

$font-ids: (
    light: 1129868,
    light-italic: 1129871,
    heavy: 1437456,
    heavy-italic: 1437466,
    regular: 1437496,
    regular-italic: 1437506,
    demi: 1437516,
    demi-italic: 1437526,
    medium: 1437536,
    medium-italic: 1437546,
    bold: 1437556,
    bold-italic: 1437566,
    thin: 1437336,
    thin-italic: 1437346,
    ultrathin: 1437414,
    ultrathin-italic: 1437424
);

$font-license: "0910850a-71db-476e-83af-1574285881c5";
$font-license-api-base:
    "//fast.fonts.net/lt/1.css?apiType=css&c=" + $font-license + "&fontids=";

/// Get the lookup key for a font
/// $weight-name: The named weight: normal, demi, heavy, etc
/// $is-italic: Set it to true for the italic version of the weight
@function get-avenir-font-lookup-name($weight-name, $is-italic: false) {
    $lookup-name: to-lower-case($weight-name);

    @if ($is-italic) {
        $lookup-name: #{$lookup-name + '-italic'};
    }
    @return $lookup-name;
}

/// Get the URL we must import for license usage
@function get-font-license-url($weight-name, $is-italic: false) {
    $lookup-name: get-avenir-font-lookup-name($weight-name, $is-italic);
    $font-id: map-get($font-ids, $lookup-name);
    $font-license-url: #{$font-license-api-base + $font-id};
    @return $font-license-url;
}

/// Set the @font-face for the given Avenir Next font style
@mixin load-avenir-next-font($weight-name, $is-italic: false) {
    $weight-name: to-lower-case($weight-name);
    $lookup-name: get-avenir-font-lookup-name($weight-name, $is-italic);

    $font-variation: capitalize($weight-name);
    @if ($is-italic) {
        $font-name: #{$font-variation + 'Italic'};
    }
    $font-name: #{"AvenirNext" + $font-variation};
    $font-shared-url: #{"/media/fonts/AvenirNext/" + $font-variation + "/" + $font-name};
    @if ($is-italic) {
        $font-style: italic;
    }

    @font-face{
        font-family: $avenir-font-name + "-" + $font-variation;
        src: url("#{$font-shared-url + ".eot?#iefix"}");
        src: url("#{$font-shared-url + ".eot?#iefix"}") format("eot"),
            url("#{$font-shared-url + ".woff2"}") format("woff2"),
            url("#{$font-shared-url + ".woff"}") format("woff"),
            url("#{$font-shared-url + ".ttf"}") format("truetype"),
            url("#{$font-shared-url + ".svg#avenir-font"}") format("svg");
    }
}