.native {
    font-family: Verdana;
    opacity: .4;
}

.native.tp-title-1 {
    letter-spacing: -2.5px;
}

@media (min-width: 701px) {
    .native.tp-title-1 {
        letter-spacing: -3.4px;
    }
}

.native.tp-title-2 {
    letter-spacing: -2.2px;
}

@media (min-width: 701px) {
    .native.tp-title-2 {
        letter-spacing: -2.9px;
    }
}

.native.tp-title-3 {
    letter-spacing: -1.9px;
}

@media (min-width: 701px) {
    .native.tp-title-3 {
        letter-spacing: -2.05px;
    }
}

.native.tp-title-4 {
    letter-spacing: -1.8px;
}

.native.tp-title-5 {
    letter-spacing: -1.55px;
}

.native.tp-body-1 {
    letter-spacing: -.5px;
}

.native.tp-body-2 {
    letter-spacing: -.4px;
}

.native.tp-body-3 {
    letter-spacing: -.35px;
}
