@media (max-width: 482px) {
    .section-links {
        display: none;
    }

    .section-title {
        cursor: pointer;
        padding-bottom: 16px;
    }

    .section-title.is-active {
        padding-bottom: 8px;
    }

    .section-title.is-active .section-arrow {
         transform: rotate(180deg);
    }

    .section-title.is-active + .section-links {
        display: block;
    }
}
