body {
    margin: 50px;
}

.box {
    position: relative;
    width: 360px;
    height: 300px;
    background: url(i/bkg.jpg);
    background-size: cover;
    margin: auto;
}

.user {
    position: absolute;
}

.user-icon {
    height: 50px;
    width: 50px;
    background: url(i/avatar.svg) no-repeat;
    background-size: 100% auto;
    border-radius: 50%;
    transform: scale(0);
}

.user-quote {
    position: absolute;
    top: -40px;
    right: -23px;
    height: 40px;
    width: 50px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform: scale(0);
}

.user-quote--left {
    right: 25px;
}

.box.is-active .user--1 .user-icon,
.box.is-active .user--1 .user-quote,
.box.is-active .user--2 .user-icon,
.box.is-active .user--2 .user-quote,
.box.is-active .user--3 .user-icon,
.box.is-active .user--3 .user-quote,
.box.is-active .user--4 .user-icon,
.box.is-active .user--4 .user-quote,
.box.is-active .user--5 .user-icon,
.box.is-active .user--5 .user-quote {
    transform: scale(1);
    transition: transform 0.3s;
}

.box.is-active .user--1 .user-icon {
    transition-delay: 0;
}

.box.is-active .user--2 .user-icon {
    transition-delay: 0.2s;
}

.box.is-active .user--3 .user-icon {
    transition-delay: 0.4s;
}

.box.is-active .user--4 .user-icon {
    transition-delay: 0.6s;
}

.box.is-active .user--5 .user-icon {
    transition-delay: 0.8s;
}



.box.is-active .user--1 .user-quote {
    transition-delay: 1.5s;
    background-image: url(i/bubble-1.svg);
}

.box.is-active .user--2 .user-quote {
    transition-delay: 1.7s;
    background-image: url(i/bubble-2.svg);
}

.box.is-active .user--3 .user-quote {
    transition-delay: 1.9s;
    background-image: url(i/bubble-1.svg);
}

.box.is-active .user--4 .user-quote {
    transition-delay: 2.1s;
    background-image: url(i/bubble-3.svg);
}

.box.is-active .user--5 .user-quote {
    transition-delay: 2.3s;
    background-image: url(i/bubble-2.svg);
}

.user--1 {
    top: 72%;
    left: 15%;
}

.user--2 {
    top: 75%;
    left: 78%;
}

.user--3 {
    top: 43%;
    left: 45%;
}

.user--4 {
    top: 18%;
    left: 20%;
}

.user--5 {
    top: 18%;
    left: 78%;
}

@media (min-width: 700px) {
    .box {
        height: 700px;
    }

    .user--1 {
        top: 9%;
        left: 74%;
    }

    .user--2 {
        top: 40%;
        left: 75%;
    }

    .user--3 {
        top: 80%;
        left: 23%;
    }

    .user--4 {
        top: 20%;
        left: 11%;
    }

    .user--5 {
        top: 55%;
        left: 40%;
    }
}
