body {
    margin: 50px;
}

h1 {
    margin-bottom: 50px;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.swatches {
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
}

.swatch {
    margin-left: 20px;
    cursor: pointer;
    font-size: 14px;
}

.swatch__item {
    width: 100px;
    height: 50px;
    background: red;
}
