button {
    padding: 0;
    line-height: 1;
    background: none;
    -webkit-appearance: none;
    border: 0;
}

textarea {
    border: none;
    resize: none;
    width: 100%;
    border-radius: 0;
}

.smooth-scroll {
    -webkit-overflow-scrolling: touch;
}

.v-hidden {
    visibility: hidden;
}

.shadow {
    box-shadow: 0 2px 4px #ccc;
}
.shadow-big {
    box-shadow: 0 0 15px #ddd;
}

.clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.input-plain {
    font-weight: 700;
    border: 0;
}

#shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

#introScreen {
    position: absolute;
    top: 22px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 10px 10px 0 0;
}

#editScreen {
    position: absolute;
    top: 22px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 10px 10px 0 0;
    opacity: 0;
    z-index: -1;
    transition: all 200ms;
}

#editScreen.is-active {
    opacity: 1;
    z-index: 1;
}
