@import "./includes/color";
@import "./includes/animation";
@import "./includes/typography";

.Button {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    cursor: pointer;
    transition: 0.2s all ease;
    font-family: $AvenirMediumStack;

    &:disabled,
    &.is-disabled {
        cursor: not-allowed;
    }

    // Padding height lessened by one to account for border width
    &,
    &.theme-large {
        padding: 13px 32px;
        line-height: 20px;
        font-size: 16px;
    }

    &.theme-medium {
        padding: 7px 24px;
        line-height: 20px;
        font-size: 14px;
    }

    &.theme-small {
        padding: 5px 24px;
        line-height: 16px;
        font-size: 12px;
    }

    &.theme-full {
        display: block;
        width: 100%;
    }

    &.theme-full-bleed {
        display: block;
        width: 100%;
        border-radius: 0;
    }

    &,
    &.theme-primary {
        color: $tp-color__white;
        background-color: $tp-color__blue;
        border-color: $tp-color__blue;

        &:hover,
        &.is-hovered,
        &:focus {
            background-color: $tp-color__blue-500;
            border-color: $tp-color__blue-500;
        }

        &:disabled,
        &.is-disabled {
            background-color: $tp-color__blue-200;
            border-color: $tp-color__blue-200;
        }
    }

    &.theme-secondary {
        color: $tp-color__blue;
        background: $tp-color__white;
        border-color: $tp-color__gray-300;

        &:hover,
        &.is-hovered,
        &:focus {
            color: $tp-color__blue-500;
        }

        &:disabled,
        &.is-disabled {
            color: $tp-color__blue-200;
        }
    }

    &.theme-tertiary {
        color: $tp-color__black-300;
        background: $tp-color__white;
        border-color: $tp-color__gray-300;

        &:hover,
        &.is-hovered,
        &:focus {
            color: $tp-color__black;
        }

        &:disabled,
        &.is-disabled {
            color: $tp-color__gray-300;
        }
    }

    &.theme-caution {
        border-color: $tp-color__gray-300;
        background: $tp-color__white;
        color: $tp-color__red-300;

        &:hover,
        &.is-hovered,
        &:focus {
            color: $tp-color__red;
        }

        &:disabled,
        &.is-disabled {
            color: $tp-color__red-200;
        }
    }

    &.theme-success {
        color: $tp-color__white;
        background-color: $tp-color__green;
        border-color: $tp-color__green;

        &:hover,
        &.is-hovered,
        &:focus {
            background-color: $tp-color__green-300;
            border-color: $tp-color__green-300;
        }

        &:disabled,
        &.is-disabled {
            background-color: $tp-color__green-200;
            border-color: $tp-color__green-200;
        }
    }

    &.theme-secondary-success {
        background-color: $tp-color__white;
        color: $tp-color__green;
        border-color: $tp-color__gray-300;

        &:hover,
        &.is-hovered,
        &:focus {
            color: $tp-color__green-300;
        }

        &:disabled,
        &.is-disabled {
            color: $tp-color__green-200;
        }
    }

    &.theme-branded {
        color: $tp-color__white;
        background-color: $thumbtack-orange;
        border-color: $thumbtack-orange;

        &:hover,
        &.is-hovered,
        &:focus {
            background-color: $orange2;
            border-color: $orange2;
        }

        &:disabled,
        &.is-disabled {
            background-color: $orange3;
            border-color: $orange3;
        }
    }

    &.theme-secondary-branded {
        background-color: $tp-color__white;
        color: $thumbtack-orange;
        border-color: $tp-color__gray-300;

        &:hover,
        &.is-hovered,
        &:focus {
            color: $orange2;
        }

        &:disabled,
        &.is-disabled {
            color: $orange3;
        }
    }

    &.theme-empty {
        background: none;
        color: $tp-color__black-300;
        border-color: $tp-color__gray-300;

        &:hover,
        &.is-hovered,
        &:focus {
            color: $tp-color__black;
            background: none;
        }
    }

    &.theme-paypal {
        background-color: $tp-color__yellow;
        border-color: $tp-color__yellow;
        color: $tp-color__white;

        img {
            vertical-align: middle;
        }
    }

    &.theme-facebook {
        background-color: $facebook-blue;
        border-color: $facebook-blue;
        color: $tp-color__white;

        &:hover,
        &.is-hovered,
        &:focus {
            background-color: $facebook-blue-hover;
            border-color: $facebook-blue-hover;
        }
    }

    &.theme-bold {
        font-family: $AvenirDemiStack;
    }
}
