@import "./includes/breakpoints.json";
@import "./includes/mixins";
@import "./includes/grid";

@each $name, $gridOptions in $grids {
    .#{$name}-grid {
        margin: 0 auto;
        font-size: 0;
        display: block;
        // In case the grid is flexboxed, default its flex to prevent shrinking.
        flex: 1 0 0;

        &.theme-flex-columns {
            display: flex;
            flex-wrap: wrap;

            [class*="column-"] {
                display: flex;
            }
        }

        [class*="column-"] {
            font-size: medium; // IE
            font-size: initial;
            display: inline-block;
            box-sizing: border-box;
            vertical-align: top;
        }

        // Full bleed at all breakpoints
        &.theme-full-bleed {
            padding: 0;

            [class*="column-"] {
                padding: 0;
            }
        }

        @each $gridSize, $options in $gridOptions {

            // If the options for this breakpoint correspond
            @if map-has-key($options, breakpointsGrid) {

                $breakpointSet: map-get($options, breakpointsGrid);
                $breakpointThresholds: map-get($breakpoints, $breakpointSet);

                @if map-has-key($breakpointThresholds, $gridSize) {
                    @include no-larger-than($breakpointSet, $gridSize) {
                        @include generateColumns($options, $gridOptions, $gridSize);
                    }

                    // Caveat: Will also remove interior column gutters. Works best when your grid
                    // only contains a single, full width column.
                    &.theme-full-bleed-at-#{$gridSize} {
                        @include no-larger-than($breakpointSet, $gridSize) {
                            margin-left: 0;
                            margin-right: 0;
                            padding-left: 0;
                            padding-right: 0;

                            max-width: none;

                            [class*="column-"] {
                                margin-left: 0;
                                margin-right: 0;
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
            @else {
                @include generateColumns($options, $gridOptions, $gridSize);
            }
        }
    }
}
