@import "./includes/color";
@import "./includes/animation";
@import "./includes/typography";

// Global Anchor Style

a,
.Link {
    color: $tp-color__blue;
    fill: $tp-color__blue;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $tp-color__blue-300;
        fill: $tp-color__blue-300;
    }

    &:hover:focus {
        // Fixing mismatch between how a <span class="Link"> element and an <a> element behave
        // when clicked. <a> elements aren't focused on click, so manually removing outline
        // for <span>s
        // Reference: http://www.sitepoint.com/when-do-elements-take-the-focus/
        outline: none;
    }

    .IconWrapper {
        width: 18px;
        display: inline-block;
        text-align: center;
        margin-right: 8px;
        vertical-align: baseline;
    }

    &.theme-secondary {
        color: $tp-color__black-300;
        fill: $tp-color__black-300;

        &:hover,
        &:focus {
            color: $tp-color__black;
            fill: $tp-color__black;
        }
    }

    &.theme-inverted {
        color: $tp-color__white;
        fill: $tp-color__white;
        opacity: 1;

        &:hover,
        &:focus {
            opacity: 0.75;
        }
    }

    &.theme-caution {
        color: $tp-color__red;
        fill: $tp-color__red;

        &:hover,
        &:focus {
            color: $tp-color__red4;
            fill: $tp-color__red4;
        }
    }

    &.theme-branded {
        color: $thumbtack-orange;
        fill: $thumbtack-orange;

        &:hover,
        &:focus {
            color: $orange3;
            fill: $orange3;
        }
    }

    &.theme-bold {
        font-family: $AvenirDemiStack;
    }
}

button {
    &.Link {
        padding: 0;
        background: none;
        border: none;
    }
}
