@import "./includes/typography";

body {
    font-family: $global-base-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/// Header Styles

.H1-R {
    @include generateHeadingTypeRule(1);
}

.H2-R {
    @include generateHeadingTypeRule(2);
}

.H3-R {
    @include generateHeadingTypeRule(3);
}

.H4-R {
    @include generateHeadingTypeRule(4);
}

/// Title Styles

.T1-R {
    @include generateTitleTypeRule(1);
}

.T2-R {
    @include generateTitleTypeRule(2);
}

.T3-R {
    @include generateTitleTypeRule(3);
}

.T1-S {
    @include generateTitleTypeRule(1, false);
}

.T2-S {
    @include generateTitleTypeRule(2, false);
}

.T3-S {
    @include generateTitleTypeRule(3, false);
}

.T4-S {
    @include generateTitleTypeRule(4, false);
}

.T5-S {
    @include generateTitleTypeRule(5, false);
}

/// Body Copy Styles

.B1-R {
    @include generateBodyTypeRule(1);
}

.B1-S {
    @include generateBodyTypeRule(1, false);
}

.B2-R {
    @include generateBodyTypeRule(2);
}

.B2-S {
    @include generateBodyTypeRule(2, false);
}

.B3-R {
    @include generateBodyTypeRule(3);
}

.B3-S {
    @include generateBodyTypeRule(3, false);
}

.B4-S {
    @include generateBodyTypeRule(4, false);
}

.B5-S {
    @include generateBodyTypeRule(5, false);
}

.B6-R {
    @include generateBodyTypeRule(6);
}

// Type pairs

.H1-R + .B1-S {
    margin-top: 8px;
}

.H1-R + .B2-S {
    margin-top: 11px;
}

.H2-R + .B2-S {
    margin-top: 8px;
}

.H3-R + .B2-S {
    margin-top: 5px;
}

.H4-R + .B2-S {
    margin-top: 2px;
}

.T2-S + .B3-S {
    margin-top: 3px;
}

code {
    padding: 2px 4px;
    font-size: 80%;
    color: $tp-color__red;
    background-color: $tp-color__gray-300;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

input, textarea, select {
    font-family: $global-base-font;
}
