@import '@thumbtack/tp-ui-core-function/_index';
@import '@thumbtack/tp-ui-core-mixin/_index';
@import "@thumbtack/thumbprint-tokens/dist/scss/_index";

$pro-profile-section-outer-margin-mobile: tp-spacer(2.5);
$pro-profile-section-outer-margin-desktop: tp-spacer(3);

.pro-profile-base {
    &__content {
        text-align: center;
        min-height: 100px;
    }

    &__section {
        background: $tp-color__white;
        padding-bottom: tp-spacer(3);
        border-radius: $tp-border__radius__base;

        /* TODO Remove this */
        &-header {
            margin-top: $pro-profile-section-outer-margin-mobile;
            padding-bottom: tp-spacer(0.5);
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            text-align: left;

            button[disabled] {
                opacity: .2;
            }

            @include tp-respond-above($tp-breakpoint__small) {
                margin-top: $pro-profile-section-outer-margin-desktop;
            }
        }

        &-title {
            color: $tp-color__black;
        }
    }

    &__section-content-block {
        padding-top: tp-spacer(1.5);
        padding-bottom: tp-spacer(1.5);
        border-bottom: 1px solid $tp-color__gray-300;
        text-align: left;

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

