.body {
    font-family: Verdana !important;
}

.tp-title-1 {
    letter-spacing: -.8px !important;
    font-size: 25px !important;
}

@media (min-width: 701px) {
    .tp-title-1 {
        letter-spacing: -.8px !important;
        font-size: 35px !important;
    }
}

.tp-title-2 {
    letter-spacing: -.45px !important;
    font-size: 21px !important;
}

@media (min-width: 701px) {
    .tp-title-2 {
        letter-spacing: -.6px !important;
        font-size: 28px !important;
    }
}

.tp-title-3 {
    letter-spacing: -.8px !important;
    font-size: 20px !important;
}

@media (min-width: 701px) {
    .tp-title-3 {
        letter-spacing: -.4px !important;
        font-size: 21px !important;
    }
}

.tp-title-4 {
    letter-spacing: -.6px !important;
    font-size: 18px !important;
}

.tp-title-5 {
    font-size: 15px !important;
}

.tp-body-1 {
    font-size: 15px !important;
}

.tp-body-2 {
    font-size: 13px !important;
    letter-spacing: .14px !important;
}

.tp-body-3 {
    font-size: 11px !important;
    letter-spacing: .15px !important;
}
