@font-face {
    font-family: 'Mark';
    font-weight: 400;
    src: url(https://fonts.thumbtack.com/mark/mark-tt.woff2) format("woff2"), url(https://fonts.thumbtack.com/mark/mark-tt.woff) format("woff");
}

@font-face {
    font-family: 'AvenirNext-Regular';
    font-weight: 400;
    src: url(https://fonts.thumbtack.com/mark/mark-tt.woff2) format("woff2"), url(https://fonts.thumbtack.com/mark/mark-tt.woff) format("woff");
}

@font-face {
    font-family: 'Mark';
    font-weight: 700;
    src: url(https://fonts.thumbtack.com/mark/mark-tt-bold.woff2) format("woff2"), url(https://fonts.thumbtack.com/mark/mark-tt-bold.woff) format("woff");
}

@font-face {
    font-family: 'AvenirNext-Medium';
    font-weight: 700;
    src: url(https://fonts.thumbtack.com/mark/mark-tt-bold.woff2) format("woff2"), url(https://fonts.thumbtack.com/mark/mark-tt-bold.woff) format("woff");
}

body,
input, textarea, select,
.H1-R, .H2-R, .H3-R, .H4-R,
.T1-R, .T2-R, .T3-R, .T4-R, .T5-R,
.T1-S, .T2-S, .T3-S, .T4-S, .T5-S,
.B1-S, .B2-S, .B3-S, .B4-S, .B5-S,
.B1-R, .B2-R, .B3-R, .B4-R, .B5-R,
.Button {
    font-family: 'Mark', Helvetica, Arial, sans-serif !important;
}

.tp-heading-1,
.tp-heading-2,
.tp-heading-3,
.tp-heading-4,
.tp-heading-5,
.tp-heading-6,
.H1-R, .H2-R, .H3-R, .H4-R,
.T1-R, .T2-R, .T3-R, .T4-R, .T5-R,
.T1-S, .T2-S, .T3-S, .T4-S, .T5-S,
.tp-button,
.Button {
    font-weight: 700;
}


/* specific overrides */

a.links__Anchor-iPcyAn.idlCmN,
a.links__Anchor-iPcyAn.fFnBNb {
    box-shadow: 0 -2px 0 #009fd9 inset;
}
