.tp-crumbs > li {
    display: inline-block;
}
.tp-crumbs > li:after {
    content: ' â¯'
}
.tp-crumbs > li:last-child:after {
    display: none;
}

.tp-crumbs--small {
    padding: 16px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 1px;
    color: #999;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.temp-box {
    background: orange;
    height:100px;
}



.header {
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
}

.cost-of {
    background: #eee;
}

.cost-of__main {
    background: #fff;
}

.cost-of__main__text {
    background: #fff;
    padding: 16px;
    margin-bottom: 16px;
}

.cost-of__info {
    padding: 0 16px 24px 16px;
    background: #eee;
}

.cost-of__info__text {
    margin-bottom: 16px;
}

.cost-of__info .tp-button {
    position: relative;
    transform: translateY(-50%);
}
