/* Fri Jun 16 2017 10:35:24 GMT-0700 (PDT) */@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: url(https://thumbprint.thumbtack.com/asset/font/721263/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2) format("woff2"), url(https://thumbprint.thumbtack.com/asset/font/721263/1e9892c0-6927-4412-9874-1b82801ba47a.woff) format("woff"); }

@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  src: url(https://thumbprint.thumbtack.com/asset/font/721275/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2) format("woff2"), url(https://thumbprint.thumbtack.com/asset/font/721275/f26faddb-86cc-4477-a253-1e1287684336.woff) format("woff"); }

@font-face {
  font-family: 'Avenir';
  font-weight: 600;
  src: url(https://thumbprint.thumbtack.com/asset/font/721269/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2) format("woff2"), url(https://thumbprint.thumbtack.com/asset/font/721269/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff) format("woff"); }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

abbr[title],
dfn[title] {
  cursor: help; }

u,
ins {
  text-decoration: none; }

ins {
  border-bottom: 1px solid; }

img {
  font-style: italic; }

button,
select,
option,
input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer; }

[type='text']:active,
[type='text']:focus,
[type='password']:active,
[type='password']:focus,
[type='email']:active,
[type='email']:focus,
[type='number']:active,
[type='number']:focus,
[type='search']:active,
[type='search']:focus,
[type='url']:active,
[type='url']:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none; }

a {
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

sub,
sup {
  font-size: 100%;
  vertical-align: baseline; }

em {
  font-style: italic; }

b,
strong {
  font-weight: 600; }

fieldset {
  border: 0; }

textarea {
  vertical-align: top; }

button[disabled],
html input[disabled] {
  cursor: default; }

button,
select {
  text-transform: none; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

[required] {
  box-shadow: none; }

a,
.tp-link {
  color: #3f93f3;
  fill: #3f93f3;
  cursor: pointer; }
  a:active,
  .tp-link:active {
    color: #3f93f3; }
  a:hover,
  .tp-link:hover {
    color: #6faef6; }

.tp-link--dark {
  color: #4e4d4d;
  fill: #4e4d4d;
  cursor: pointer; }
  .tp-link--dark:active {
    color: #4e4d4d; }
  .tp-link--dark:hover {
    color: #3f93f3; }

.tp-link--muted {
  color: #8d9494;
  fill: #8d9494;
  cursor: pointer; }
  .tp-link--muted:active {
    color: #8d9494; }
  .tp-link--muted:hover {
    color: #3f93f3; }

.tp-link--bad-news {
  color: #ff4847;
  fill: #ff4847;
  cursor: pointer; }
  .tp-link--bad-news:hover, .tp-link--bad-news:active {
    color: #ff7b7a; }

.tp-link--reverse {
  color: #FFF !important;
  fill: #FFF !important;
  cursor: pointer; }
  .tp-link--reverse:hover {
    color: #b6d4f8 !important; }

.tp-link--underline {
  text-decoration: underline; }

.tp-link--disabled:link, .tp-link--disabled:visited, .tp-link--disabled:hover, .tp-link--disabled:active {
  color: #4e4d4d;
  opacity: 0.5;
  cursor: default; }

.tp-link--inherit:link, .tp-link--inherit:visited, .tp-link--inherit:hover, .tp-link--inherit:active {
  color: inherit;
  fill: inherit; }

body {
  color: #4e4d4d;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 481px) {
    body.tp-body-text-responsive {
      font-size: 14px; } }

.tp-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
  margin: 0;
  line-height: 38px;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
  border-radius: 4px;
  height: 38px;
  padding: 0 24px;
  background-color: #3f93f3;
  border-color: #3f93f3;
  color: #FFF;
  transition: all 0.2s; }
  .tp-button:hover, .tp-button:focus {
    background-color: #287ddd;
    color: #FFF; }
  .tp-button:active {
    color: #FFF; }

.tp-button--secondary {
  background-color: #FFF;
  border-color: #3f93f3;
  color: #3f93f3; }
  .tp-button--secondary:hover, .tp-button--secondary:focus {
    background-color: #FFF; }
  .tp-button--secondary:hover, .tp-button--secondary:active, .tp-button--secondary:focus {
    color: #287ddd; }

.tp-button--tertiary {
  background-color: #FFF;
  border-color: #e1e3e3;
  color: #8d9494; }
  .tp-button--tertiary:hover, .tp-button--tertiary:focus {
    background-color: #FFF; }
  .tp-button--tertiary:hover, .tp-button--tertiary:active, .tp-button--tertiary:focus {
    color: #4e4d4d; }

.tp-button--bad-news {
  background-color: #FFF;
  border-color: #e1e3e3;
  color: #ff6e6d; }
  .tp-button--bad-news:hover, .tp-button--bad-news:focus {
    background-color: #FFF; }
  .tp-button--bad-news:hover, .tp-button--bad-news:active, .tp-button--bad-news:focus {
    color: #ff4847; }

.tp-button--full {
  width: 100%;
  text-align: center; }

.tp-button--small {
  font-size: 11px;
  font-weight: 500;
  border-radius: 2px;
  line-height: 28px;
  height: 28px;
  padding: 0 16px; }

.tp-button--large {
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  line-height: 46px;
  height: 48px;
  padding: 0 32px; }

.tp-button--bleed {
  width: 100%;
  text-align: center;
  border-radius: 0; }

.tp-button--icon {
  line-height: 1.4; }
  .tp-button--icon .tp-icon {
    vertical-align: sub; }

.tp-button--narrow {
  padding-left: 0.6em;
  padding-right: 0.6em; }

.tp-button--disabled, .tp-button--disabled:visited, .tp-button--disabled:hover, .tp-button--disabled:active, .tp-button--disabled:focus,
.tp-button[disabled],
.tp-button[disabled]:visited,
.tp-button[disabled]:hover,
.tp-button[disabled]:active,
.tp-button[disabled]:focus {
  cursor: default;
  background-color: #ddd;
  border-color: #ddd; }
  .tp-button--disabled.tp-button--secondary, .tp-button--disabled.tp-button--tertiary, .tp-button--disabled.tp-button--bad-news, .tp-button--disabled:visited.tp-button--secondary, .tp-button--disabled:visited.tp-button--tertiary, .tp-button--disabled:visited.tp-button--bad-news, .tp-button--disabled:hover.tp-button--secondary, .tp-button--disabled:hover.tp-button--tertiary, .tp-button--disabled:hover.tp-button--bad-news, .tp-button--disabled:active.tp-button--secondary, .tp-button--disabled:active.tp-button--tertiary, .tp-button--disabled:active.tp-button--bad-news, .tp-button--disabled:focus.tp-button--secondary, .tp-button--disabled:focus.tp-button--tertiary, .tp-button--disabled:focus.tp-button--bad-news,
  .tp-button[disabled].tp-button--secondary,
  .tp-button[disabled].tp-button--tertiary,
  .tp-button[disabled].tp-button--bad-news,
  .tp-button[disabled]:visited.tp-button--secondary,
  .tp-button[disabled]:visited.tp-button--tertiary,
  .tp-button[disabled]:visited.tp-button--bad-news,
  .tp-button[disabled]:hover.tp-button--secondary,
  .tp-button[disabled]:hover.tp-button--tertiary,
  .tp-button[disabled]:hover.tp-button--bad-news,
  .tp-button[disabled]:active.tp-button--secondary,
  .tp-button[disabled]:active.tp-button--tertiary,
  .tp-button[disabled]:active.tp-button--bad-news,
  .tp-button[disabled]:focus.tp-button--secondary,
  .tp-button[disabled]:focus.tp-button--tertiary,
  .tp-button[disabled]:focus.tp-button--bad-news {
    background-color: #fff;
    color: #ccc; }

.tp-checkbox-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 1px;
  height: 1px; }

.tp-checkbox-image {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #e1e3e3;
  position: absolute;
  border-radius: 2px;
  top: 2px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.tp-checkbox-input:checked + .tp-checkbox-image {
  border-width: 2px;
  border-color: #3f93f3; }

.tp-checkbox-input:checked + .tp-checkbox-image:after {
  content: '';
  display: block;
  border-right: 2px solid #3f93f3;
  border-bottom: 2px solid #3f93f3;
  transform: rotate(45deg);
  position: relative;
  width: 6px;
  height: 13px;
  top: -2px; }

.tp-fieldset {
  margin-bottom: 64px; }

.tp-rule {
  border: 0;
  height: 0;
  border-top: 1px solid #e1e3e3;
  margin-top: 7px;
  margin-bottom: 8px; }
  .tp-rule--dotted {
    border-top-style: dotted; }
  .tp-rule--dashed {
    border-top-style: dashed; }

.tp-img {
  display: block;
  max-width: 100%; }
  .tp-img--round {
    border-radius: 4px; }
  .tp-img--circle {
    border-radius: 50%; }
  .tp-img--border {
    border: 1px solid #e1e3e3; }
  .tp-img[width], .tp-img[height] {
    max-width: none; }

a .tp-img {
  border: 0; }

.tp-text-input {
  transition: border-color 0.3s;
  width: 100%;
  border: 1px solid #e1e3e3;
  border-radius: 4px;
  padding: 6px 12px;
  vertical-align: middle;
  line-height: 1.5; }
  .tp-text-input--small {
    padding-top: 2px;
    padding-bottom: 2px; }
  .tp-text-input:hover {
    border-color: #bdc4c4; }
  .tp-text-input:focus {
    border-color: #70acf1; }
  .tp-text-input--bad-news {
    border-color: #ff4847; }
  .tp-text-input[disabled], .tp-text-input--disabled {
    background: #fafafa;
    color: #bdc4c4;
    cursor: default; }
    .tp-text-input[disabled]:hover, .tp-text-input[disabled]:focus, .tp-text-input--disabled:hover, .tp-text-input--disabled:focus {
      border-color: #e1e3e3; }
  .tp-text-input--large {
    padding-top: 11px;
    padding-bottom: 11px; }

.tp-input-icon {
  position: relative; }
  .tp-input-icon__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .tp-input-icon--left .tp-text-input {
    padding-left: 40px; }
  .tp-input-icon--left .tp-input-icon__icon {
    left: 16px; }
  .tp-input-icon--right .tp-text-input {
    padding-right: 40px; }
  .tp-input-icon--right .tp-input-icon__icon {
    right: 16px; }

.tp-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500; }
  .tp-label--bad-news {
    color: #ff4847; }
  .tp-label--disabled {
    color: #bdc4c4;
    cursor: default !important; }

.tp-list {
  margin-bottom: 12px;
  margin-left: 24px; }
  .tp-list > li {
    padding-left: 4px; }
    @media (min-width: 481px) {
      .tp-list > li {
        padding-left: 12px; } }
  .tp-list--disc {
    list-style-type: disc; }
  .tp-list--decimal {
    list-style-type: decimal; }
  .tp-list--lower-alpha {
    list-style-type: lower-alpha; }
  .tp-list--spaced > li {
    margin-bottom: 4px; }

.tp-radio-wrap {
  position: relative; }

.tp-radio-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 1px;
  height: 1px; }

.tp-radio-image {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #e1e3e3;
  position: absolute;
  top: 2px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }

.tp-radio-input:checked + .tp-radio-image {
  border-width: 2px;
  border-color: #3f93f3; }

.tp-radio-input:checked + .tp-radio-image:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: #3f93f3;
  border-radius: 50%; }

.tp-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.3s;
  border: 1px solid #e1e3e3;
  height: 38px;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 12px;
  padding-right: 36px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjE0cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgMTQgOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4NCiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQyICgzNjc4MSkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogICAgPHRpdGxlPlNsaWNlIDE8L3RpdGxlPg0KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPg0KICAgIDxkZWZzPjwvZGVmcz4NCiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4NCiAgICAgICAgPHBvbHlsaW5lIGlkPSJQYXRoLTIiIHN0cm9rZT0iIzk3OTc5NyIgcG9pbnRzPSIxIDEgNi43OTg3MDY3NSA2Ljc5ODcwNjc1IDEyLjU2NjM4OTYgMS4wMzEwMjM4OSI+PC9wb2x5bGluZT4NCiAgICA8L2c+DQo8L3N2Zz4=");
  background-color: #FFF;
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: auto 8px;
  max-width: 100%; }
  .tp-select:hover {
    border-color: #bdc4c4; }
  .tp-select:focus {
    border-color: #70acf1; }
  .tp-select--small {
    font-size: 11px;
    height: 28px; }
  .tp-select--large {
    font-size: 16px;
    height: 48px; }
  .tp-select--bad-news {
    border-color: #ff4847;
    color: #ff4847; }
  .tp-select::-ms-expand {
    display: none; }
  .tp-select[disabled] {
    cursor: default;
    border: 1px solid #e1e3e3; }

.tp-table {
  width: 100%;
  font-size: inherit; }
  .tp-table th,
  .tp-table td {
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px; }
    .tp-table th:first-child,
    .tp-table td:first-child {
      padding-left: 0; }
  .tp-table th {
    font-weight: 500;
    font-size: 16px;
    color: #8d9494;
    text-align: left; }
    .tp-table th[field] {
      cursor: pointer; }
  .tp-table td {
    vertical-align: top; }
  .tp-table .tp-cell-collapse {
    width: 1%; }
  .tp-table--rule > thead > th, .tp-table--rule-bottom > thead > th {
    padding-bottom: 8px; }
  .tp-table--rule > thead > tr, .tp-table--rule-bottom > thead > tr {
    border-bottom: 1px solid #e1e3e3; }
  .tp-table--rule > tbody > tr, .tp-table--rule-bottom > tbody > tr {
    border-bottom: 1px solid #e1e3e3; }
    .tp-table--rule > tbody > tr:first-child, .tp-table--rule-bottom > tbody > tr:first-child {
      border-bottom: 1px solid #e1e3e3; }
    .tp-table--rule > tbody > tr:last-child, .tp-table--rule-bottom > tbody > tr:last-child {
      border-bottom: none; }
  .tp-table--rule-bottom > tbody > tr:last-child {
    border-bottom: 1px solid #e1e3e3; }

.tp-textarea {
  transition: border-color 0.3s;
  width: 100%;
  border: 1px solid #e1e3e3;
  border-radius: 4px;
  padding: 6px 12px;
  vertical-align: middle;
  line-height: 1.5;
  height: 100px;
  resize: vertical; }
  .tp-textarea:hover {
    border-color: #bdc4c4; }
  .tp-textarea:focus {
    border-color: #70acf1; }
  .tp-textarea--tall {
    height: 150px; }
  .tp-textarea--bad-news {
    border-color: #ff4847; }
  .tp-textarea[disabled], .tp-textarea--disabled {
    background: #fafafa;
    color: #bdc4c4;
    cursor: default; }
    .tp-textarea[disabled]:hover, .tp-textarea[disabled]:focus, .tp-textarea--disabled:hover, .tp-textarea--disabled:focus {
      border-color: #e1e3e3; }

.tp-heading-1 {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 500; }
  @media (min-width: 700px) {
    .tp-heading-1 {
      font-size: 48px;
      line-height: 1.1;
      font-weight: 500; } }

.tp-heading-2 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 500; }
  @media (min-width: 700px) {
    .tp-heading-2 {
      font-size: 40px;
      line-height: 1.2;
      font-weight: 500; } }

.tp-heading-3 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500; }
  @media (min-width: 700px) {
    .tp-heading-3 {
      font-size: 32px;
      line-height: 1.3;
      font-weight: 500; } }

.tp-heading-4 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500; }
  @media (min-width: 700px) {
    .tp-heading-4 {
      font-size: 24px;
      line-height: 1.4;
      font-weight: 500; } }

.tp-heading-5 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500; }
  @media (min-width: 700px) {
    .tp-heading-5 {
      font-size: 20px;
      line-height: 1.5;
      font-weight: 500; } }

.tp-heading-6 {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500; }
  @media (min-width: 700px) {
    .tp-heading-6 {
      font-size: 16px;
      line-height: 1.6;
      font-weight: 500; } }

.tp-text-1--static {
  font-size: 20px;
  line-height: 1.6; }

.tp-text-1 {
  font-size: 20px;
  line-height: 1.6; }
  @media (min-width: 700px) {
    .tp-text-1 {
      font-size: 24px;
      line-height: 1.5; } }

.tp-text-2--static {
  font-size: 16px;
  line-height: 1.6; }

.tp-text-3--static {
  font-size: 14px;
  line-height: 1.6; }

.tp-text-4--static {
  font-size: 12px;
  line-height: 1.6; }


.tp-block-list-group,
.tp-block-list {
  list-style: none;
  margin-left: 0; }
  
  .tp-block-list-group > li,
  .tp-block-list > li {
    padding: 6px 12px;
    border-top: 1px solid #e1e3e3; }
  
  .tp-block-list__link {
    display: block;
    cursor: pointer;
    padding: 6px 12px;
    margin-top: -6px;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -6px; }
    
    .tp-block-list__link:hover {
      background-color: #fafafa; }
    
    .tp-block-list__link--active {
      background-color: #fafafa; }
  
  .tp-block-list--flush > li {
    padding-left: 0;
    padding-right: 0; }
    
    .tp-block-list--flush > li .tp-block-list__link {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0; }
  
  .tp-block-list--all > li:last-child {
    border-bottom: 1px solid #e1e3e3; }
  
  .tp-block-list--no-border > li {
    border-top: 0; }


.tp-block-list-group {
  border: 1px solid #e1e3e3;
  border-radius: 4px; }
  
  .tp-block-list-group > li:first-child {
    border: 0; }

.tp-button-row {
  display: flex; }
  .tp-button-row .tp-button {
    margin-right: 8px; }
    .tp-button-row .tp-button:last-child {
      margin-right: 0; }
  .tp-button-row--wide .tp-button {
    margin-right: 16px; }
  .tp-button-row--right {
    justify-content: flex-end; }
    .tp-button-row--right .tp-button {
      margin-right: 0;
      margin-left: 8px; }
      .tp-button-row--right .tp-button:first-child {
        margin-left: 0; }
  .tp-button-row--center {
    justify-content: center; }
    .tp-button-row--center .tp-button {
      margin-left: 4px;
      margin-right: 4px; }
      .tp-button-row--center .tp-button:first-child {
        margin-left: 0; }
  .tp-button-row__left {
    margin-right: auto; }
  .tp-button-row__right {
    margin-left: auto; }

.tp-input-wrap {
  position: relative; }
  .tp-input-wrap .tp-label {
    padding-left: 28px;
    font-weight: 400;
    cursor: pointer;
    position: relative; }
  .tp-input-wrap + .tp-input-wrap {
    margin-top: 8px; }

.tp-input-wrap--flip .tp-label {
  padding-left: 0; }

.tp-input-wrap--flip .tp-radio-image,
.tp-input-wrap--flip .tp-checkbox-image {
  left: auto;
  right: 0; }

.tp-form-note {
  margin-top: 4px;
  font-size: 12px; }

.tp-form-note--good-news {
  color: #63cb76; }

.tp-form-note--bad-news {
  color: #ff4847; }

.tp-form-fields {
  list-style: none;
  margin: 0; }
  .tp-form-fields > *:last-child,
  .tp-form-fields > *:last-child > *:last-child,
  .tp-form-fields > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }

.tp-form-field__item {
  margin-bottom: 16px; }

::-webkit-input-placeholder {
  color: #bdc4c4; }

::-moz-placeholder {
  color: #bdc4c4; }

:-ms-input-placeholder {
  color: #bdc4c4; }

.tp-grid {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px; }

.tp-grid--wide {
  margin-left: -16px;
  margin-right: -16px; }

.tp-grid--wide .tp-col {
  padding-left: 16px;
  padding-right: 16px; }

.tp-grid--flush {
  margin-left: 0;
  margin-right: 0; }

.tp-grid--flush .tp-col {
  padding-left: 0;
  padding-right: 0; }

.tp-grid--row-reverse {
  flex-direction: row-reverse; }

.tp-grid--column-reverse {
  flex-direction: column-reverse; }

.tp-grid--start {
  justify-content: flex-start; }

.tp-grid--center {
  justify-content: center; }

.tp-grid--end {
  justify-content: flex-end; }

.tp-grid--top {
  align-items: flex-start; }

.tp-grid--middle {
  align-items: center; }

.tp-grid--bottom {
  align-items: flex-end; }

.tp-grid--around {
  justify-content: space-around; }

.tp-grid--between {
  justify-content: space-between; }

.tp-col {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: 8px;
  padding-right: 8px; }

.tp-col--1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%; }

.tp-col--2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%; }

.tp-col--3 {
  flex-basis: 25%;
  max-width: 25%; }

.tp-col--4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%; }

.tp-col--5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%; }

.tp-col--6 {
  flex-basis: 50%;
  max-width: 50%; }

.tp-col--7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%; }

.tp-col--8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%; }

.tp-col--9 {
  flex-basis: 75%;
  max-width: 75%; }

.tp-col--10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%; }

.tp-col--11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%; }

.tp-col--12 {
  flex-basis: 100%;
  max-width: 100%; }

.tp-col--offset-0 {
  margin-left: 0; }

.tp-col--offset-1 {
  margin-left: 8.33333333%; }

.tp-col--offset-2 {
  margin-left: 16.66666667%; }

.tp-col--offset-3 {
  margin-left: 25%; }

.tp-col--offset-4 {
  margin-left: 33.33333333%; }

.tp-col--offset-5 {
  margin-left: 41.66666667%; }

.tp-col--offset-6 {
  margin-left: 50%; }

.tp-col--offset-7 {
  margin-left: 58.33333333%; }

.tp-col--offset-8 {
  margin-left: 66.66666667%; }

.tp-col--offset-9 {
  margin-left: 75%; }

.tp-col--offset-10 {
  margin-left: 83.33333333%; }

.tp-col--offset-11 {
  margin-left: 91.66666667%; }

.tp-col--first {
  order: -1; }

.tp-col--last {
  order: 1; }

.tp-col--flex {
  flex: 1 auto; }

@media (min-width: 481px) {
  .tp-grid--sm-start {
    justify-content: flex-start; }
  .tp-grid--sm-center {
    justify-content: center; }
  .tp-grid--sm-end {
    justify-content: flex-end; }
  .tp-grid--sm-top {
    align-items: flex-start; }
  .tp-grid--sm-middle {
    align-items: center; }
  .tp-grid--sm-bottom {
    align-items: flex-end; }
  .tp-grid--sm-around {
    justify-content: space-around; }
  .tp-grid--sm-between {
    justify-content: space-between; }
  .tp-col--sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .tp-col--sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .tp-col--sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .tp-col--sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .tp-col--sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .tp-col--sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .tp-col--sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .tp-col--sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .tp-col--sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .tp-col--sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .tp-col--sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .tp-col--sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .tp-col--sm-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .tp-col--sm-offset-0 {
    margin-left: 0; }
  .tp-col--sm-offset-1 {
    margin-left: 8.33333333%; }
  .tp-col--sm-offset-2 {
    margin-left: 16.66666667%; }
  .tp-col--sm-offset-3 {
    margin-left: 25%; }
  .tp-col--sm-offset-4 {
    margin-left: 33.33333333%; }
  .tp-col--sm-offset-5 {
    margin-left: 41.66666667%; }
  .tp-col--sm-offset-6 {
    margin-left: 50%; }
  .tp-col--sm-offset-7 {
    margin-left: 58.33333333%; }
  .tp-col--sm-offset-8 {
    margin-left: 66.66666667%; }
  .tp-col--sm-offset-9 {
    margin-left: 75%; }
  .tp-col--sm-offset-10 {
    margin-left: 83.33333333%; }
  .tp-col--sm-offset-11 {
    margin-left: 91.66666667%; }
  .tp-col--sm-first {
    order: -1; }
  .tp-col--sm-last {
    order: 1; } }

@media (min-width: 700px) {
  .tp-grid--md-start {
    justify-content: flex-start; }
  .tp-grid--md-center {
    justify-content: center; }
  .tp-grid--md-end {
    justify-content: flex-end; }
  .tp-grid--md-top {
    align-items: flex-start; }
  .tp-grid--md-middle {
    align-items: center; }
  .tp-grid--md-bottom {
    align-items: flex-end; }
  .tp-grid--md-around {
    justify-content: space-around; }
  .tp-grid--md-between {
    justify-content: space-between; }
  .tp-col--md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .tp-col--md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .tp-col--md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .tp-col--md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .tp-col--md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .tp-col--md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .tp-col--md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .tp-col--md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .tp-col--md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .tp-col--md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .tp-col--md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .tp-col--md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .tp-col--md-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .tp-col--md-offset-0 {
    margin-left: 0; }
  .tp-col--md-offset-1 {
    margin-left: 8.33333333%; }
  .tp-col--md-offset-2 {
    margin-left: 16.66666667%; }
  .tp-col--md-offset-3 {
    margin-left: 25%; }
  .tp-col--md-offset-4 {
    margin-left: 33.33333333%; }
  .tp-col--md-offset-5 {
    margin-left: 41.66666667%; }
  .tp-col--md-offset-6 {
    margin-left: 50%; }
  .tp-col--md-offset-7 {
    margin-left: 58.33333333%; }
  .tp-col--md-offset-8 {
    margin-left: 66.66666667%; }
  .tp-col--md-offset-9 {
    margin-left: 75%; }
  .tp-col--md-offset-10 {
    margin-left: 83.33333333%; }
  .tp-col--md-offset-11 {
    margin-left: 91.66666667%; }
  .tp-col--md-first {
    order: -1; }
  .tp-col--md-last {
    order: 1; } }

@media (min-width: 1025px) {
  .tp-grid--lg-start {
    justify-content: flex-start; }
  .tp-grid--lg-center {
    justify-content: center; }
  .tp-grid--lg-end {
    justify-content: flex-end; }
  .tp-grid--lg-top {
    align-items: flex-start; }
  .tp-grid--lg-middle {
    align-items: center; }
  .tp-grid--lg-bottom {
    align-items: flex-end; }
  .tp-grid--lg-around {
    justify-content: space-around; }
  .tp-grid--lg-between {
    justify-content: space-between; }
  .tp-col--lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .tp-col--lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%; }
  .tp-col--lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%; }
  .tp-col--lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .tp-col--lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%; }
  .tp-col--lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%; }
  .tp-col--lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .tp-col--lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%; }
  .tp-col--lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%; }
  .tp-col--lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .tp-col--lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%; }
  .tp-col--lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%; }
  .tp-col--lg-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .tp-col--lg-offset-0 {
    margin-left: 0; }
  .tp-col--lg-offset-1 {
    margin-left: 8.33333333%; }
  .tp-col--lg-offset-2 {
    margin-left: 16.66666667%; }
  .tp-col--lg-offset-3 {
    margin-left: 25%; }
  .tp-col--lg-offset-4 {
    margin-left: 33.33333333%; }
  .tp-col--lg-offset-5 {
    margin-left: 41.66666667%; }
  .tp-col--lg-offset-6 {
    margin-left: 50%; }
  .tp-col--lg-offset-7 {
    margin-left: 58.33333333%; }
  .tp-col--lg-offset-8 {
    margin-left: 66.66666667%; }
  .tp-col--lg-offset-9 {
    margin-left: 75%; }
  .tp-col--lg-offset-10 {
    margin-left: 83.33333333%; }
  .tp-col--lg-offset-11 {
    margin-left: 91.66666667%; }
  .tp-col--lg-first {
    order: -1; }
  .tp-col--lg-last {
    order: 1; } }

.tp-input-row {
  display: flex; }
  .tp-input-row > * {
    margin-left: 0;
    border-radius: 0; }
    .tp-input-row > *:not(:first-child) {
      margin-left: -1px; }
    .tp-input-row > *:hover, .tp-input-row > *:focus {
      position: relative; }
    .tp-input-row > *:first-child {
      border-radius: 4px 0 0 4px; }
    .tp-input-row > *:last-child {
      border-radius: 0 4px 4px 0; }
  .tp-input-row .tp-text-input {
    flex: 1; }
  .tp-input-row .tp-button {
    position: relative;
    z-index: 1; }
  .tp-input-row--button-stretch .tp-text-input {
    flex: 3; }
  .tp-input-row--button-stretch .tp-button {
    flex: 1; }

.tp-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 946px;
  padding-left: 16px;
  padding-right: 16px; }
  @media (min-width: 481px) {
    .tp-wrap {
      padding-left: 32px;
      padding-right: 32px; } }
  @media (min-width: 1010px) {
    .tp-wrap {
      padding-left: 0;
      padding-right: 0; } }

.tp-wrap-snap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px; }
  @media (min-width: 481px) {
    .tp-wrap-snap {
      max-width: 449px;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 700px) {
    .tp-wrap-snap {
      max-width: 668px; } }
  @media (min-width: 1025px) {
    .tp-wrap-snap {
      max-width: 946px; } }

@media (max-width: 481px) {
  .tp-wrap--bleed-below-small {
    padding-left: 0;
    padding-right: 0; } }

.tp-avatar {
  position: relative; }
  .tp-avatar__img {
    border-radius: 50%;
    width: 100%;
    height: 100%; }
  .tp-avatar--xsmall {
    width: 20px;
    height: 20px; }
  .tp-avatar--small {
    width: 32px;
    height: 32px; }
    .tp-avatar--small .tp-avatar__badge {
      font-size: 10px;
      top: -2px;
      right: -4px;
      width: 20px;
      height: 20px; }
  .tp-avatar--medium {
    width: 48px;
    height: 48px; }
    .tp-avatar--medium .tp-avatar__badge {
      font-size: 10px;
      top: -2px;
      right: -2px;
      width: 20px;
      height: 20px; }
  .tp-avatar--large {
    width: 72px;
    height: 72px; }
    .tp-avatar--large .tp-avatar__badge {
      font-size: 12px;
      right: 0;
      width: 24px;
      height: 24px; }
  .tp-avatar--xlarge {
    width: 124px;
    height: 124px; }
    .tp-avatar--xlarge .tp-avatar__badge {
      font-size: 15px;
      right: 6px;
      width: 30px;
      height: 30px; }
  .tp-avatar__badge {
    color: #FFF;
    position: absolute;
    top: 0;
    border-radius: 50%;
    border: 2px solid #FFF;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tp-avatar__badge--hired {
      background: #63cb76; }
    .tp-avatar__badge--notification {
      background: #ff4847; }

@keyframes tp-loader-animation-1 {
  0%,
  70%,
  100% {
    opacity: 0.2; }
  30% {
    opacity: 1; } }

@keyframes tp-loader-animation-2 {
  0%,
  15%,
  85%,
  100% {
    opacity: 0.2; }
  45% {
    opacity: 1; } }

@keyframes tp-loader-animation-3 {
  0%,
  30%,
  100% {
    opacity: 0.2; }
  60% {
    opacity: 1; } }

.tp-loader {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0; }
  .tp-loader > li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    animation: tp-loader-animation-1 1.3s infinite ease-in;
    background: #f27802;
    opacity: 0;
    -moz-transform: rotate(0.1deg); }
    .tp-loader > li:nth-child(2) {
      animation-name: tp-loader-animation-2;
      margin-left: 10px;
      margin-right: 10px; }
    .tp-loader > li:nth-child(3) {
      animation-name: tp-loader-animation-3; }
  .tp-loader--small > li {
    width: 8px;
    height: 8px; }
    .tp-loader--small > li:nth-child(2) {
      margin-left: 5px;
      margin-right: 5px; }
  .tp-loader--inverse > li {
    background: #FFF; }
  .tp-loader--muted > li {
    background: #bdc4c4; }

.tp-background--brand {
  background-color: #f27802 !important; }

.tp-background--white {
  background-color: #FFF !important; }

.tp-background--faint {
  background-color: #fafafa !important; }

.tp-background--light {
  background-color: #f4f4f4 !important; }

.tp-background--dark {
  background-color: #312f2f !important; }

.tp-display--block {
  display: block !important; }

.tp-display--inline {
  display: inline !important; }

.tp-display--inline-block {
  display: inline-block !important; }

.tp-display--none {
  display: none !important; }

@media (max-width: 481px) {
  .tp-display--none--small {
    display: none !important; } }

@media (min-width: 481px) and (max-width: 700px) {
  .tp-display--none--medium {
    display: none !important; } }

@media (min-width: 700px) and (max-width: 1025px) {
  .tp-display--none--large {
    display: none !important; } }

@media (min-width: 1025px) {
  .tp-display--none--large-plus {
    display: none !important; } }

.tp-display--block--small {
  display: none; }
  @media (max-width: 481px) {
    .tp-display--block--small {
      display: block !important; } }

.tp-display--block--medium {
  display: none; }
  @media (min-width: 481px) and (max-width: 700px) {
    .tp-display--block--medium {
      display: block !important; } }

.tp-display--block--large {
  display: none; }
  @media (min-width: 700px) and (max-width: 1025px) {
    .tp-display--block--large {
      display: block !important; } }

.tp-display--block--large-plus {
  display: none; }
  @media (min-width: 1025px) {
    .tp-display--block--large-plus {
      display: block !important; } }

.tp-faded {
  opacity: 0.5 !important; }

.tp-margin {
  margin: 8px !important; }

.tp-margin-top {
  margin-top: 8px !important; }

.tp-margin-right {
  margin-right: 8px !important; }

.tp-margin-bottom {
  margin-bottom: 8px !important; }

.tp-margin-left {
  margin-left: 8px !important; }

.tp-margin-ends {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.tp-margin-sides {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.tp-margin--half {
  margin: 4px !important; }

.tp-margin-top--half {
  margin-top: 4px !important; }

.tp-margin-right--half {
  margin-right: 4px !important; }

.tp-margin-bottom--half {
  margin-bottom: 4px !important; }

.tp-margin-left--half {
  margin-left: 4px !important; }

.tp-margin-ends--half {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

.tp-margin-sides--half {
  margin-right: 4px !important;
  margin-left: 4px !important; }

.tp-margin--double {
  margin: 16px !important; }

.tp-margin-top--double {
  margin-top: 16px !important; }

.tp-margin-right--double {
  margin-right: 16px !important; }

.tp-margin-bottom--double {
  margin-bottom: 16px !important; }

.tp-margin-left--double {
  margin-left: 16px !important; }

.tp-margin-ends--double {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.tp-margin-sides--double {
  margin-right: 16px !important;
  margin-left: 16px !important; }

.tp-margin--triple {
  margin: 24px !important; }

.tp-margin-top--triple {
  margin-top: 24px !important; }

.tp-margin-right--triple {
  margin-right: 24px !important; }

.tp-margin-bottom--triple {
  margin-bottom: 24px !important; }

.tp-margin-left--triple {
  margin-left: 24px !important; }

.tp-margin-ends--triple {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.tp-margin-sides--triple {
  margin-right: 24px !important;
  margin-left: 24px !important; }

.tp-margin--quad {
  margin: 32px !important; }

.tp-margin-top--quad {
  margin-top: 32px !important; }

.tp-margin-right--quad {
  margin-right: 32px !important; }

.tp-margin-bottom--quad {
  margin-bottom: 32px !important; }

.tp-margin-left--quad {
  margin-left: 32px !important; }

.tp-margin-ends--quad {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.tp-margin-sides--quad {
  margin-right: 32px !important;
  margin-left: 32px !important; }

.tp-margin--none {
  margin: 0 !important; }

.tp-margin-top--none {
  margin-top: 0 !important; }

.tp-margin-right--none {
  margin-right: 0 !important; }

.tp-margin-bottom--none {
  margin-bottom: 0 !important; }

.tp-margin-left--none {
  margin-left: 0 !important; }

.tp-margin-ends--none {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.tp-margin-sides--none {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.tp-padding {
  padding: 8px !important; }

.tp-padding-top {
  padding-top: 8px !important; }

.tp-padding-right {
  padding-right: 8px !important; }

.tp-padding-bottom {
  padding-bottom: 8px !important; }

.tp-padding-left {
  padding-left: 8px !important; }

.tp-padding-ends {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.tp-padding-sides {
  padding-right: 8px !important;
  padding-left: 8px !important; }

.tp-padding--half {
  padding: 4px !important; }

.tp-padding-top--half {
  padding-top: 4px !important; }

.tp-padding-right--half {
  padding-right: 4px !important; }

.tp-padding-bottom--half {
  padding-bottom: 4px !important; }

.tp-padding-left--half {
  padding-left: 4px !important; }

.tp-padding-ends--half {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.tp-padding-sides--half {
  padding-right: 4px !important;
  padding-left: 4px !important; }

.tp-padding--double {
  padding: 16px !important; }

.tp-padding-top--double {
  padding-top: 16px !important; }

.tp-padding-right--double {
  padding-right: 16px !important; }

.tp-padding-bottom--double {
  padding-bottom: 16px !important; }

.tp-padding-left--double {
  padding-left: 16px !important; }

.tp-padding-ends--double {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.tp-padding-sides--double {
  padding-right: 16px !important;
  padding-left: 16px !important; }

.tp-padding--triple {
  padding: 24px !important; }

.tp-padding-top--triple {
  padding-top: 24px !important; }

.tp-padding-right--triple {
  padding-right: 24px !important; }

.tp-padding-bottom--triple {
  padding-bottom: 24px !important; }

.tp-padding-left--triple {
  padding-left: 24px !important; }

.tp-padding-ends--triple {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

.tp-padding-sides--triple {
  padding-right: 24px !important;
  padding-left: 24px !important; }

.tp-padding--quad {
  padding: 32px !important; }

.tp-padding-top--quad {
  padding-top: 32px !important; }

.tp-padding-right--quad {
  padding-right: 32px !important; }

.tp-padding-bottom--quad {
  padding-bottom: 32px !important; }

.tp-padding-left--quad {
  padding-left: 32px !important; }

.tp-padding-ends--quad {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.tp-padding-sides--quad {
  padding-right: 32px !important;
  padding-left: 32px !important; }

.tp-padding--none {
  padding: 0 !important; }

.tp-padding-top--none {
  padding-top: 0 !important; }

.tp-padding-right--none {
  padding-right: 0 !important; }

.tp-padding-bottom--none {
  padding-bottom: 0 !important; }

.tp-padding-left--none {
  padding-left: 0 !important; }

.tp-padding-ends--none {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.tp-padding-sides--none {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.tp-width--1-1 {
  width: 100% !important; }

.tp-width--1-2 {
  width: 50% !important; }

.tp-width--1-3 {
  width: 33.333% !important; }

.tp-width--2-3 {
  width: 66.666% !important; }

.tp-width--1-4 {
  width: 25% !important; }

.tp-width--2-4 {
  width: 50%; }

.tp-width--3-4 {
  width: 75% !important; }

.tp-width--1-5 {
  width: 20% !important; }

.tp-width--2-5 {
  width: 40% !important; }

.tp-width--3-5 {
  width: 60% !important; }

.tp-width--4-5 {
  width: 80% !important; }

.tp-width--1-6 {
  width: 16.666% !important; }

.tp-width--2-6 {
  width: 33.333%; }

.tp-width--3-6 {
  width: 50%; }

.tp-width--4-6 {
  width: 66.666%; }

.tp-width--5-6 {
  width: 83.333% !important; }

.tp-width--1-8 {
  width: 12.5% !important; }

.tp-width--2-8 {
  width: 25%; }

.tp-width--3-8 {
  width: 37.5% !important; }

.tp-width--4-8 {
  width: 50%; }

.tp-width--5-8 {
  width: 62.5% !important; }

.tp-width--6-8 {
  width: 75%; }

.tp-width--7-8 {
  width: 87.5% !important; }

.tp-width--1-10 {
  width: 10% !important; }

.tp-width--2-10 {
  width: 20%; }

.tp-width--3-10 {
  width: 30% !important; }

.tp-width--4-10 {
  width: 40%; }

.tp-width--5-10 {
  width: 50%; }

.tp-width--6-10 {
  width: 60%; }

.tp-width--7-10 {
  width: 70% !important; }

.tp-width--8-10 {
  width: 80%; }

.tp-width--9-10 {
  width: 90% !important; }

.tp-width--1-12 {
  width: 8.333% !important; }

.tp-width--2-12 {
  width: 16.666%; }

.tp-width--3-12 {
  width: 25%; }

.tp-width--4-12 {
  width: 33.333%; }

.tp-width--5-12 {
  width: 41.666% !important; }

.tp-width--6-12 {
  width: 50%; }

.tp-width--7-12 {
  width: 58.333% !important; }

.tp-width--8-12 {
  width: 66.666%; }

.tp-width--9-12 {
  width: 75%; }

.tp-width--10-12 {
  width: 83.333%; }

.tp-width--11-12 {
  width: 91.666% !important; }

.tp-width--50 {
  width: 50px !important;
  -ms-flex-preferred-size: 50px !important; }

.tp-width--75 {
  width: 75px !important;
  -ms-flex-preferred-size: 75px !important; }

.tp-width--100 {
  width: 100px !important;
  -ms-flex-preferred-size: 100px !important; }

.tp-width--150 {
  width: 150px !important;
  -ms-flex-preferred-size: 150px !important; }

.tp-width--200 {
  width: 200px !important;
  -ms-flex-preferred-size: 200px !important; }

.tp-width--250 {
  width: 250px !important;
  -ms-flex-preferred-size: 250px !important; }

.tp-width--300 {
  width: 300px !important;
  -ms-flex-preferred-size: 300px !important; }

.tp-max-width--50 {
  max-width: 50px !important; }

.tp-max-width--75 {
  max-width: 75px !important; }

.tp-max-width--100 {
  max-width: 100px !important; }

.tp-max-width--150 {
  max-width: 150px !important; }

.tp-max-width--200 {
  max-width: 200px !important; }

.tp-max-width--250 {
  max-width: 250px !important; }

.tp-max-width--300 {
  max-width: 300px !important; }

.tp-min-width--50 {
  min-width: 50px !important; }

.tp-min-width--75 {
  min-width: 75px !important; }

.tp-min-width--100 {
  min-width: 100px !important; }

.tp-min-width--150 {
  min-width: 150px !important; }

.tp-min-width--200 {
  min-width: 200px !important; }

.tp-min-width--250 {
  min-width: 250px !important; }

.tp-min-width--300 {
  min-width: 300px !important; }

.tp-height--1-1 {
  height: 100% !important; }

.tp-height--50 {
  height: 50px !important; }

.tp-height--75 {
  height: 75px !important; }

.tp-height--100 {
  height: 100px !important; }

.tp-height--150 {
  height: 150px !important; }

.tp-height--200 {
  height: 200px !important; }

.tp-height--250 {
  height: 250px !important; }

.tp-height--300 {
  height: 300px !important; }

.tp-min-height--50 {
  min-height: 50px !important; }

.tp-min-height--75 {
  min-height: 75px !important; }

.tp-min-height--100 {
  min-height: 100px !important; }

.tp-min-height--150 {
  min-height: 150px !important; }

.tp-min-height--200 {
  min-height: 200px !important; }

.tp-min-height--250 {
  min-height: 250px !important; }

.tp-min-height--300 {
  min-height: 300px !important; }

.tp-text-monospace {
  font-family: monospace !important; }

.tp-color--base {
  color: #4e4d4d !important;
  fill: #4e4d4d !important; }

.tp-color--brand {
  color: #f27802 !important;
  fill: #f27802 !important; }

.tp-color--good-news {
  color: #63cb76 !important;
  fill: #63cb76 !important; }

.tp-color--bad-news {
  color: #ff4847 !important;
  fill: #ff4847 !important; }

.tp-color--muted {
  color: #8d9494 !important;
  fill: #8d9494 !important; }

.tp-color--white {
  color: #FFF !important;
  fill: #FFF !important; }

.tp-weight--normal {
  font-weight: 400 !important; }

.tp-weight--medium {
  font-weight: 500 !important; }

.tp-weight--demi {
  font-weight: 600 !important; }

.tp-text--strike {
  text-decoration: line-through !important; }

.tp-text--caps {
  text-transform: uppercase !important; }

.tp-text--truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; }

.tp-text--forcebreak {
  word-wrap: break-word !important; }

.tp-text--nowrap {
  white-space: nowrap !important; }

.tp-text--left {
  text-align: left !important; }

.tp-text--center {
  text-align: center !important; }

.tp-text--right {
  text-align: right !important; }
